Web_Forms_Weather_Forecast/Connected Services/ForecastGenerator/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Weather_Forecast_Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Weather_Forecast_Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWeatherForecastViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeatherForecastViewModel" nillable="true" type="tns:WeatherForecastViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeatherForecastViewModel" nillable="true" type="tns:ArrayOfWeatherForecastViewModel" />
  <xs:complexType name="WeatherForecastViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Feelings" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherForecastViewModel" nillable="true" type="tns:WeatherForecastViewModel" />
</xs:schema>